<!DOCTYPE html>
<html>
<head>
    <title>GP360 :: Login</title>
    <link rel="stylesheet" type="text/css" href="assets/css/material.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body id="login">
    <div class="mdl-layout__container">
        <main class="mdl-components__pages">
            <div id="box-login" class="demo-card-wide mdl-card mdl-shadow--4dp">
                <img src="../assets/img/gplogo.png">
                <form action="#" autocomplete="false">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="sample1" />
                        <label class="mdl-textfield__label" for="sample1">Username</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" id="sample1" />
                        <label class="mdl-textfield__label" for="sample1">Password</label>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
                        Ingresar
                    </button>
                </form>
            </div>
        </main>
    </div>
    <script type="text/javascript" src="assets/js/material.min.js"></script>
</body>
</html>