<!DOCTYPE html>
<html>
<head>
    <title>GP360 :: Registro</title>
    <link rel="stylesheet" type="text/css" href="css/material.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body id="register">
    <div class="mdl-layout__container">
        <main class="mdl-components__pages">
            <div id="box-login" class="demo-card-wide mdl-card mdl-shadow--4dp">
                <img src="../img/gplogo.png">
                <form action="register" autocomplete="false" method="post">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="email" id="sample1" name="email" />
                        <label class="mdl-textfield__label" for="sample1">email</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" id="sample1" name="password" />
                        <label class="mdl-textfield__label" for="sample1">Password</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" id="sample1" name="repetpassword" />
                        <label class="mdl-textfield__label" for="sample1">re - Password</label>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
                        Ingresar
                    </button>
                </form>
            </div>
        </main>
    </div>
    <script type="text/javascript" src="js/material.min.js"></script>
</body>
</html>